annotated-types==0.7.0
black==25.1.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
coverage==7.9.2
dnspython==2.7.0
email_validator==2.2.0
idna==3.10
iniconfig==2.1.0
mypy==1.16.1
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
pytest==8.4.1
pytest-asyncio==1.1.0
pytest-cov==6.2.1
python-dotenv==1.1.1
PyYAML==6.0.2
requests==2.32.4
responses==0.25.7
ruff==0.12.2
types-requests==2.32.4.20250611
typing-inspection==0.4.1
typing_extensions==4.14.1
urllib3==2.5.0
